/* Style the repository revision/version container */
#version-container{
    float:right;
    left:80%;
    top:0px;
    height:30px;
    width:19%;
    text-align:right;
    color:grey;
    font-size: 10px;   
    font-family: monospace;
}

/* Invariants */
#invars {
  margin: 0 auto;
  max-width: 500px;
  padding-left:40px;
}
.table {
  font-size: 13;
}
.invarrow {
  font-size: 1.5em;
}

/* Kwicks multi-pane view */
.kwicks {
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.kwicks > li {
  height: 90%;
  bottom: 0px;
  /* Overridden by kwicks but good for when JavaScript is disabled */
  width: 150px;
  overflow: auto;
}
.kwicks > li.kwicks-expanded {
  border-color: #777;
}
