/* Style the repository revision/version container. */
#versionContainer{
    float:right;
    left:80%;
    top:0px;
    height:30px;
    width:19%;
    text-align:right;
    color:grey;
    font-size: 10px;   
    font-family: monospace;
}
