<div id="form" style="width: 100%">
	<fieldset><div id="innerform" style="margin: 0 auto; max-width:500px;">

		<button id="examples-button" class="btn btn-primary dropdown-toggle" type="button" href="#"  data-jq-dropdown="#examples">Examples
		<span class="caret"></span></button>

	    <div id="examples" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right">
		  <ul class="jq-dropdown-menu">
		    <li><a onclick="clearData(); writeBrowserModel();">Browser caching</a></li>
		    <li><a onclick="clearData(); writeConnectionModel();">Connection tester</a></li>
		    <li><a onclick="clearData(); writeRadiusModel();">RADIUS authentication</a></li>
		    <li><a onclick="clearData(); writedjQModel();">djQ music player</a></li>
		    <li><a onclick="clearData(); writeShoppingCartModel();">Shopping cart</a></li>
		  </ul>
		</div>

		<div style="clear:both"></div>

        <form>
			<div class="control-group" style="">
				<label class="control-label" for="logtext">
					<span>Log</span>
				</label>
				<textarea id="logtext" name="logtext" class="input" rows="20"></textarea>
				<br>
				<label class="control-label" for="argsfield">
					<span>Arguments</span>
					<div id="argument-help">
						<a href="https://github.com/ModelInference/synoptic/wiki/DocsSynopticCmdLineUsage#synoptic-regular-expressions" target="_blank">
							<span id="argument-tip" class="ui-icon ui-icon-help" title="(Click '?' for more info!) Try an example above for sample regex arguments. '-r' defines how each line is parsed and must contain capture group TYPE and a resource group like DTIME. '-m' defines how event instances are identified as belonging to the same trace."></span>
						</a>
					</div>
				</label>
                <textarea id="argsfield" name="args" class="input" rows="5" style="width:100%;"></textarea>
			</div>
		</form>

		<!-- Button (Triple) -->
		<div class="control-group">
			<div class="controls">
		    	<button id="fetchmodel" name="button1id" class="btn btn-primary" onclick="fetchModel(); ">Infer model</button>
		    	<button id="clear-form" name="button2id" class="btn btn-clear" onclick="clearData()">Clear</button>
		    	<button id="remove-highlighted-logs" name="button3id" class="btn btn-clear" onclick="removeHighlightedExecutionTraces()">Remove traces with highlighted lines</button>
			</div>
		</div>

	</div></fieldset>
</div>
