<div id="form" style="width: 100%">
	<fieldset><div id="innerform" style="margin: 0 auto; max-width:500px;">

		<label class="control-label" for="logtext">
			<span>Examples:</span>
		</label>
		<div id="buttons">
	    	<button id="bandwithform" onclick="clearData(); writeBrowserModel();">Browser Caching</button>
	    	<button id="browserform" onclick="clearData(); writeConnectionModel();">Connection Tester</button>
	    	<button id="browserform" onclick="clearData(); writeRadiusModel();">RADIUS Authentication</button>
	    </div>

        <form>
			<div class="control-group" style="">
				<label class="control-label" for="logtext">
					<span>Log</span>
				</label>
				<textarea id="logtext" name="logtext" class="input" rows="20"></textarea>
				<label class="control-label" for="argsfield">
					<span>Arguments</span>
				</label>
                <textarea id="argsfield" name="args" class="input" rows="5" style="width:100%;"></textarea>
			</div>
		</form>
		<br>

		<!-- Button (Double) -->
		<div class="control-group">
			<div class="controls">
		    	<button id="fetchmodel" name="button1id" class="btn btn-primary" onclick="fetchModel(); ">Parse Log</button>
		    	<button id="clear-form" name="button2id" class="btn btn-clear" onclick="clearForm()">Clear</button>
			</div>
		</div>

	</div></fieldset>
</div>
