<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Perfume</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        #include "./template/css_template.html"
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <div id='expand-controls'> <a class="brand" href="#" data-index='-1'>Perfume</a></div>
	          <div class="nav-collapse collapse">
                <ul class="nav">
	              <li><a href="http://cs.umass.edu/~ohmann/perfume/">Learn more about Perfume</a></li>
	            </ul>
	            <div id='version-container'><a>
					Revison:$commitSha
				</a></div>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

	    <div id="parsing-dialog" title="Inferring model...">
			<div id="parsing-progressbar"></div>
		</div>

    	<div>
	    	<ul class='kwicks kwicks-horizontal'>
				<li>
					#include "./template/form_template.html"
				</li>
				<li>
					#include "./template/model_template.html"
				</li>
				<li>
					#include "./template/invariant_template.html"
				</li>
			</ul>
	    </div>
	</body>

#include "./template/javascript_template.html"
</html>
