<div id="invariant">
    <div id="invars">
        <table class="table" id="AlwaysPrecedes"> <tr><th>Source </th><th></th><th>Target</th> <th>Min</th> <th>Max</th> </tr><h4>Always Precedes</h4></table>
        <table class="table" id="AlwaysFollowedBy"> <tr><th>Source </th><th></th><th>Target</th> <th>Min</th> <th>Max</th> </tr><h4>Always Followed By</h4></table>
        <table class="table" id="NeverFollowedBy"> <tr><th>Source </th><th></th><th>Target</th> </tr><h4>Never Followed By</h4></table>
        <table class="table" id="InterruptedBy"> <tr><th>Source </th><th></th><th>Target</th> </tr><h4>Interrupted By</h4></table>
    </div>
</div>