<div id="invariant">
    <div id="invars" style="margin: 0 auto; max-width:500px;">
        <table class="table" id="AlwaysPrecedes"> <tr><th>Source </th><th></th><th>Target</th> <th>Upperbound</th> <th>Lowerbound</th> </tr><h3>Always Precedes</h3></table>
        <table class="table" id="AlwaysFollowedBy"> <tr><th>Source </th><th></th><th>Target</th> <th>Upperbound</th> <th>Lowerbound</th> </tr><h3>Always Followed By</h3></table>
        <table class="table" id="NeverFollowedBy"> <tr><th>Source </th><th></th><th>Target</th> </tr><h3>Never Followed By</h3></table>
    </div>
</div>