<div id="invariant" class="span9" style="display:none">
    <div class="bs-docs-example">
    <div class="row-fluid">
    <div class="inv_table span3">
    <div id="invars"></div>
        <table id="AlwaysPrecedes" border=""><tr><th>Always Precedes</th></tr></table>
        <table id="AlwaysFollowedBy" border=""><tr><th>Always Followed By</th></tr></table>
        <table id="NeverFollowedBy" border=""><tr><th>Never Followed By</th></tr></table>
    </div>
    <div class="span9">
        <div id="holder" class="myholder"></div>
    </div>
    </div>
    </div>
</div>
