<style>
svg {
}

g.node-initterm > rect {
  fill: grey;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

#legend {
    position:absolute;
    z-index:1;
}

#modelCanvas {
    position:absolute;
    z-index:2;
}
</style>
<div id="model">
        <canvas id="legend" width="600px" height="100px"></canvas>
        <svg id="modelCanvas" width=100% height=100%>
                <g transform="translate(20,20)"/>
        </svg>
</div>


