<div id="model" class="span9" style="display:none">
    <button id="abstractmodel" onclick="data = abc_model;drawModel(data); writeAbstractModel();">Abstract Example </button>
    <button id="bandwithmodel" onclick="data = test_bandwith_model;drawModel(data); writeConnectionModel();">Connection Example</button>
    <button type="browsermodel" onclick="data = browser_model; drawModel(data); writeBrowserModel();" > Browser Example</button>
    <div class="model-text bs-docs-example">
        <div id="paper" class="paper"> </div>
    </div>
</div>
