<style>
svg {
}

g.node-initterm > rect {
  fill: grey;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
</style>
<div id="model" class="span9" style="display:none">
        <canvas id="legend" width="600px" height="100px"></canvas>
        <!-- <div id="paper" class="paper"> </div> -->
        <svg width=100% height=100%>
                <g transform="translate(20,20)"/>
        </svg>
</div>


